* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

td.active {
    background-color: purple;
}

td.wall {
    background-color: gray;
}

td.path {
    background-color: dodgerblue;
}

td.end {
    background-color: red;
}

td.start {
    background-color: green;
}